step-restore-cache: &step-restore-cache
  restore_cache:
    keys:
      - v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
      - v1-dependencies-{{ arch }}

steps-test: &steps-test
  steps:
    - checkout
    - *step-restore-cache
    - run: yarn
    - save_cache:
        paths:
          - node_modules
        key: v1-dependencies-{{ arch }}-{{ checksum "yarn.lock" }}
    - run: if [[ -n "${ELECTRON_VERSION}" ]]; then yarn add "electron@${ELECTRON_VERSION}"; fi
    - run: yarn tsc
    - run: yarn test:ci
    - store_test_results:
        path: test-results

version: 2.1
jobs:
  test-electron-13:
    docker:
      - image: circleci/node:10-browsers
    <<: *steps-test

  test-electron-11:
    docker:
      - image: circleci/node:10-browsers
    environment:
      ELECTRON_VERSION: 11.x
    <<: *steps-test

  test-electron-12:
    docker:
      - image: circleci/node:10-browsers
    environment:
      ELECTRON_VERSION: 12.x
    <<: *steps-test

  test-electron-14:
    docker:
      - image: circleci/node:10-browsers
    environment:
      ELECTRON_VERSION: 14.x
    <<: *steps-test

  test-electron-15:
    docker:
      - image: circleci/node:10-browsers
    environment:
      ELECTRON_VERSION: 15.x
    <<: *steps-test

  release:
    docker:
      - image: circleci/node:10-browsers
    steps:
      - checkout
      - *step-restore-cache
      - run: yarn
      - run: npx semantic-release
workflows:
  version: 2
  test_and_release:
    jobs:
      - test-electron-13
      - test-electron-11
      - test-electron-12
      - test-electron-14
      - test-electron-15
      - release:
          requires:
            - test-electron-13
          filters:
            branches:
              only:
                - main
