name: Test

on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 22 * * 3'
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        electron-version:
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          # Electron v25 is consistently hanging
          # when tests run on GHA so skip for now
          # - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
          - 37
          - 38
          - 39
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22.x'
          cache: 'yarn'
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Install Electron
        run: yarn add "electron@${{ matrix.electron-version }}" -P
      - name: Build
        run: yarn tsc
      - name: Test (Electron 12)
        if : ${{ matrix.electron-version == 12 }}
        run: xvfb-run yarn test:ci --in-process-gpu
      - name: Test (Electron 13+)
        if : ${{ matrix.electron-version != 12 }}
        run: xvfb-run yarn test:ci
